[Unit]
Description=Container for Omanda Software Controller
After=network-online.target

[Container]
Image=docker.io/mbentley/omada-controller:6
AutoUpdate=registry

Ulimit=nofile=4096:8192

PublishPort=8088:8088
PublishPort=8043:8043
PublishPort=8044:8044
PublishPort=8843:8843
PublishPort=19810:19810/udp
PublishPort=27001:27001/udp
PublishPort=29810:29810/udp
PublishPort=19810:19810/udp
PublishPort=29811-29817:29811-29817

Environment=ROOTLESS=true
Environment=TZ=US/Pacific

UserNS=keep-id

Volume=omada-data:/opt/tplink/EAPController/data:Z,U
Volume=omada-logs:/opt/tplink/EAPController/logs:Z,U

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
