[Unit]
Description=Matter JS Server for Home Assistant
After=network-online.target

[Container]
Image=ghcr.io/matter-js/matterjs-server:latest
AutoUpdate=registry
ReadOnly=true

Volume=ha-matter-js:/data

Network=host

PodmanArgs=--security-opt=apparmor=unconfined

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
