[Unit]
Description=A service for starting a Docker container for Transmission with OpenVPN
After=network-online.target
Wants=nginx.service

[Service]
User=root
TimeoutStartSec=0
ExecStart=/usr/bin/podman run \
            --name=transmission-openvpn \
            --rm \
            --cap-add=NET_ADMIN \
            --device=/dev/net/tun \
            --log-driver json-file \
            --log-opt max-size=10m \
            -p 9091:9091 \
            --dns 8.8.8.8 \
            --dns 8.8.4.4 \
            --sysctl net.ipv6.conf.all.disable_ipv6=1 \
            -v /var/transmission:/data:Z \
            -e "OPENVPN_PROVIDER=NORDVPN" \
            -e "OPENVPN_USERNAME=<VPN USERNAME>" \
            -e "OPENVPN_PASSWORD=<VPN PASSWORD>" \
            -e "OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60 --mssfix 1452 --mute-replay-warnings" \
            -e "NORDVPN_COUNTRY=US" \
            -e "NORDVPN_CATEGORY=P2P" \
            -e "WEBPROXY_ENABLED=false" \
            -e "LOCAL_NETWORK=192.168.1.0/24" \
            -e "TRANSMISSION_WEB_UI=combustion" \
            -e "TRANSMISSION_SPEED_LIMIT_UP=1024" \
            -e "TRANSMISSION_SPEED_LIMIT_UP_ENABLED=true" \
            -e "TRANSMISSION_ALT_SPEED_UP=256" \
            -e "TRANSMISSION_ALT_SPEED_DOWN=1024" \
            -e "TRANSMISSION_LPD_ENABLED=true" \
            -e "TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true" \
            -e "TRANSMISSION_RPC_USERNAME=<TRANSMISSION_RPC_USERNAME>" \
            -e "TRANSMISSION_RPC_PASSWORD=<TRANSMISSION_RPC_PASSWORD>" \
            -e "TRANSMISSION_RATIO_LIMIT_ENABLED=true" \
            -e "TRANSMISSION_RATIO_LIMIT=1.5" \
            haugene/transmission-openvpn
ExecStop=/usr/bin/podman stop transmission-openvpn
RestartSec=5
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
