[Unit]
Description=A service for starting a Docker container for Transmission with OpenVPN
After=network-online.target
Wants=nginx.service

[Service]
User=root
TimeoutStartSec=0
ExecStart=/usr/bin/podman run \
            --name=transmission-openvpn \
            --no-healthcheck \
            --rm \
            --cap-add=NET_ADMIN \
            --device=/dev/net/tun \
            --log-driver json-file \
            --log-opt max-size=10m \
            -p 9091:9091 \
            --dns 8.8.8.8 \
            --dns 8.8.4.4 \
            --sysctl net.ipv6.conf.all.disable_ipv6=1 \
            -v /var/transmission:/data:Z \
            --env-file /var/transmission/env.list \
            haugene/transmission-openvpn
ExecStop=/usr/bin/podman stop transmission-openvpn
ExecStopPost=/usr/bin/podman rm -f transmission-openvpn
RestartSec=5
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
